<%= form_for(@song) do |f| %>
	<h1> Song </h1><br>
	<%= f.text_field :name %><br>
	<h1> Artist id </h1><br>
	<%= f.text_field :artist_id %><br>
	<h1> Genre if </h1><br>
	<%= f.text_field :genre_id %><br>
	<%= f.submit %>
<% end %> 	